body {
  height: 100%;
  background: #fff;
}
body p {
  color: #000;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -100%);
          transform: translate(-50%, -100%);
  text-align: center;
  font-family: opens sans, roboto;
  font-size: 50px;
  font-weight: 600;
}

@import 'https://fonts.googleapis.com/css?family=Roboto';

html, body
{
    margin: 0px;
}


div.container
{
    font-family: Roboto;
    margin: 0 auto;
	padding: 3em 3em;
	text-align: center;
}

div.container a
{
    color: #000;
    text-decoration: none;
    font: 20px Roboto;
    margin: 0px 10px;
    padding: 10px 10px;
    position: relative;
    z-index: 0;
    cursor: pointer;

}

.lightGreen
{
    background: #fff;
}

/* Pull down  */
div.pullDown a:before
{
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0px;
    top: 0px;
    content: '';
    background: #b7b7b7;
    opacity: 0.3;
    transition: all 0.3s;
}

div.pullDown a:hover:before
{
    height: 100%;
}
